


/*------------------ COLORS FONTS---------*/


$BLUEFONT:#4191ff;
$FONDO2:#2a385a;
$FONDO:#2a2b2c;


/*----------- COLORS FONTS----------*/


/*------fonts--------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,400i,700');
$FONTPP:'Roboto', sans-serif;
/*------------------*/



